*{
    font-family:calibri;
}

.contenedor{
    display:flex;
    flex-direction: column;
    background-color:rgb(223, 210, 210);
    border-radius: 15px;
    padding:20px;
    width:250px;
}

.intro{
    display:flex;
    flex-direction: column;
    width:100%;
    border-bottom: 1px solid grey;
}

.nombre{
    font-size: larger;
    font-weight:bolder;
}

.direccion{
    color:green;
    padding-bottom: 10px;
}

.boton button{
    width:100%;
    border-radius: 15px;
    background-color: green;
    color: white;
    margin-top: 20px;
    height: 50px;
    font-size: larger;
    margin-bottom: 20px;
}

.bocadillo{
    color: grey;
    font-size:large;
}

.ayudas{
    padding-top:20px;
    border-top:1px solid grey;
}