body{
    font-family:calibri;
    background-color: beige;
}

.contenedor{
    display:flex;
    flex-direction: column;
    background-color:#FFFFFF;
    border-radius: 15px;
    padding:20px;
    width:200px;
}

.intro{
    display:flex;
    flex-direction: column;
    width:100%;
    border-bottom: 1px solid #B3AFAD;
}

.nombre{
    font-size: larger;
    font-weight:bolder;
}

.direccion{
    color:#01AC60;
    padding-bottom: 10px;
}

.boton button{
    width:100%;
    border-radius: 10px;
    background-color: #01AC60;
    color: white;
    margin-top: 20px;
    height: 50px;
    font-size: larger;
    margin-bottom: 20px;
    border:0px;
}

.boton button:hover{
    cursor:pointer;
}

.boton{
    border-bottom: 1px solid #B3AFAD;
}

.bocadillo{
    color: #B3AFAD;
    font-size:large;
}

.ayudas{
    padding-top:20px;
    border-top:1px solid #B3AFAD;
}

.separador{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 70px;
}